* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background:  url('../img/bg/main-bg.jpg') center center / cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo__img{
    display: block;
    margin: 0 auto;
}

.logo .logo__text {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #F9BF3B;
    font-size: 41px;
    font-weight: 500;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 21px;
}

.simple .title__big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo__text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo__text span {
    color: #F9BF3B;
    font-weight: 700;
}

.promo .promo__btn, .gift .gift__btn {
    /* button box */
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    cursor: pointer;
    /* button text */
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.more {
    margin-top: 72px;
}

.more .more__text {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more__img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting__header, .finish .finish__header {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish__header {
    color: #fff;
}

.waiting .waiting__divider, .finish .finish__divider {
    background: #F9BF3B;
    height: 4px;
    width: 220px;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting__subheader {
    color: #4A4A4A;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    margin-top: 19px;
}

.waiting .waiting__wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting__wrapper .waiting__item {
    width: 339px;
    text-align: center;
}

.waiting .waiting__wrapper .waiting__item .waiting__img {
    width: 100%;
}

.waiting .waiting__wrapper .waiting__item .waiting__descr {
    margin-top: 33px;
    color: #4A4A4A;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization__header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization__text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.optimization .optimization__text span {
    font-weight: 700;
}

.optimization .optimization__img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 445px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/bg-end.jpg') center center/cover no-repeat;
}

.finish .finish__wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish__wrapper .finish__item {
    width: 204px;
}

.finish .finish__wrapper .finish__item .finish__round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #B4E2FF;
    border-radius: 100%;
}

.finish .finish__wrapper .finish__item .finish__descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.gift {
    min-height: 628px;
    background-color: #efefef;
}

.gift .gift__box {
    padding: 85px 0 85px 0;
}

.gift .gift__img {
    display: block;
    margin: 0 auto;
}

.gift .gift__text {
    margin-top: 45px;
    text-align: center;
    color: #252525;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
}

.first {
    min-height: 512px;
    color: #FFFFFF;
    padding-top: 81px;
}

.first .first__img {
    display: block;
    margin: 0 auto;
}

.first .first__header {
    margin-top: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.first .first__date {
    margin-top: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}

.first .first__subheader {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}

footer {
    height: 169px;
    background-color: #1A1A1A;
    color: #888888;
    text-align: center;
    line-height: 25px;
}

footer .footer__link {
    margin-top: 57px;
    display: inline-block;
}

footer a {
    display: inline-block;
    color: #888888;
}